freq_keywords_por_periodo.csv
freq_keywords_top_por_periodo.csv
freq_keywords_total.csv
repo.Rproj
.Rproj.user/69D2E40F/rmd-outputs
.Rproj.user/69D2E40F/saved_source_markers
.Rproj.user/69D2E40F/pcs/files-pane.pper
.Rproj.user/69D2E40F/pcs/source-pane.pper
.Rproj.user/69D2E40F/pcs/windowlayoutstate.pper
.Rproj.user/69D2E40F/pcs/workbench-pane.pper
.Rproj.user/69D2E40F/sources/per/t/61773924
.Rproj.user/69D2E40F/sources/per/t/61773924-contents
.Rproj.user/69D2E40F/sources/prop/7AE130ED
.Rproj.user/69D2E40F/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rhistory
.RData
